[Unit]
Description=Hadoop NameNode Service
After=network.target

[Service]
Type=forking
User=hadoop
Group=hadoop
ExecStart={{ hadoop_install_dir }}/sbin/hadoop-daemon.sh start namenode
ExecStop={{ hadoop_install_dir }}/sbin/hadoop-daemon.sh stop namenode
Restart=on-failure
Environment=HADOOP_HOME={{ hadoop_install_dir }}
Environment=JAVA_HOME={{ java_path }}

[Install]
WantedBy=multi-user.target
